<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<%- include('./header'); %>
<%- include('./error_messages'); %>
<% if(isAuth) { %>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/" method="POST" class="mb-4">
  <div class="mb-3">
    <label for="add" class="form-label">タスク内容</label>
    <input type="text" name="add" id="add" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">日付（任意）</label>
    <input type="date" name="date" id="date" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">追加</button>
</form>
<ul class="list-group">
  <% todos.forEach(todo => { %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong><%= todo.content %></strong><br>
        <small class="text-muted">
          <%= todo.date ? new Date(todo.date).toLocaleDateString() : '日付未設定' %>
        </small>
      </div>
      <div class="d-flex gap-1">
        <a href="/edit/<%= todo.id %>" class="btn btn-sm btn-outline-secondary">✏️ 編集</a>

        <form action="/delete/<%= todo.id %>" method="POST" onsubmit="return confirm('本当に削除しますか？');">
          <button class="btn btn-sm btn-outline-danger" type="submit">🗑 削除</button>
        </form>
      </div>
    </li>
  <% }) %>
</ul>
    </div>
    <div class="col-md-6">
      <ul>
        <% for(let todo of todos){ %>
          <li><span><%= todo.content %></span></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<% } else { %>
  <h1>Welcome to the TodoApp</h1>
  <a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
<% } %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>